*{
	margin:0;
	padding:0;
}

#FullStack{
	background: rgba(0,100,100,0.2);
}

#body{
	min-width: 720px;
	max-width: 1200px;
	margin:0 auto;
}

.Header {
    justify-content: center;
    align-items: center; 
    background-repeat: no-repeat;
	background-size: cover;
    height:250px;
	width: 100%;
}

#enter {
	display: inline-block;
	background: transparent;
	width: 100%;
	margin-top: 5%;
}

#Profile{
	display: block;
	box-shadow: inset 0 0 10px 7px rgba(10,0,255,0.5);
	width: 100%;
	height: 140px;
}

#loginTry{
	width:90%;
	margin-left:5%;
	height:30px;
}

#registrationTry{
	width:90%;
	margin-left:5%;
	height:30px;
}

#rigthField{
	display: inline-block;
	vertical-align: top;
	margin-top:10px;
	width: 20%;
	height: 7*80px + 60px;
}

.HeaderImage{
	width: 100%;
	height: 100%;
    position: relative;
}

#menu{
	display: inline-block;
    justify-content: center;
    align-items: center; 
    background-repeat: no-repeat;
    background-size: 100%;
    height:40px; min-height:40px; max-height:40px;
	width: 100%; 
	animation: background 3s infinite alternate;
	background: skyblue;
}

@keyframes background {
  50% {
    background: skyblue;
    box-shadow: 0 -70px 50px -50px deepskyblue inset;
  }
}

#buttonMainMenuGeneral{
	display: inline-block;
	float: right;
	height: 40px;
	width: 135px;
	background: transparent;
	margin-top:10px;
}

#buttonMainMenuTop100{
	display: inline-block;
	float: right;
	height: 40px;
	width: 135px;
	background: transparent;
	margin-top:5px;
}

#buttonRandomMenuType{
	display: inline-block;
	float: right;
	height: 40px;
	width: 170px;
	background: transparent;
	margin-top:5px;
}

#buttonMainMenuHelpType{
	display: inline-block;
	float: right;
	height: 40px;
	width: 130px;
	background: transparent;
	margin-top: 10px;
}

.TextMenuStyle{
	text-decoration: none;
    color: #4169E1; /* Цвет ссылок */
}

.ButtonMenuWhite {      
    position: relative; 
    font-size: 20pt;
	line-height: 16px;
	font-family: Impact, Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 2px; /* расстояние между буквами */
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);  /* плавный переход м/у состояниями */
    cursor: pointer;/* тип курсора - лапа */
    user-select: none;/* запрет на выделение текста */
}

.ButtonMenuWhite:hover { /*Стиль при наведении мыши на кнопку*/
    color: var(--def); /*Включаем цвет ссылки*/
    transition-delay: .1s;/*Время до начала или исчезновения анимации*/
}

.ButtonPage {      
    position: relative; 
    font-size: 20pt;
	line-height: 16px;
	font-family: Impact, Arial, Helvetica, sans-serif;
    color: white;
    user-select: none;/* запрет на выделение текста */
	margin-top: 10px;
	margin-left:12px;
}

.ButtonPageDots {      
    position: relative; 
    font-size: 24pt;
	line-height: 16px;
	font-family: Impact, Arial, Helvetica, sans-serif;
    color: blue;
    user-select: none;/* запрет на выделение текста */
	margin-top: 10px;
	margin-left:15px;
}

.ButtonRegistration {      
    position: relative; 
    font-size: 24pt;
	font-family: Impact, Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: 2px; /* расстояние между буквами */
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);  /* плавный переход м/у состояниями */
    cursor: pointer;/* тип курсора - лапа */
    user-select: none;/* запрет на выделение текста */
}

.ButtonRegistration:hover { /*Стиль при наведении мыши на кнопку*/
    color: var(--def); /*Включаем цвет ссылки*/
    transition-delay: .1s;/*Время до начала или исчезновения анимации*/
}

.ButtonEnter {      
    position: relative; 
    font-size: 24pt;
	font-family: Impact, Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 2px; /* расстояние между буквами */
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);  /* плавный переход м/у состояниями */
    cursor: pointer;/* тип курсора - лапа */
    user-select: none;/* запрет на выделение текста */
}

.ButtonEnter:hover { /*Стиль при наведении мыши на кнопку*/
    color: var(--def); /*Включаем цвет ссылки*/
    transition-delay: .1s;/*Время до начала или исчезновения анимации*/
}

#searchMenu{
	display: inline-block;
	box-shadow: 0 0 10px rgba(10,0,255,0.5);
	float: left;
	height: 30px;
	width: 96%;
	margin-left: 2%;
	background: transparent;
}

#searchSymbol{
	display: inline-block;
	background-image: url(../img/search/search.png);
	background-size: cover;
	float: left;
	float: left;
	height: 30px;
	width: 30px;
}

.SearchingClass{
	 cursor: pointer;
}

#searchText{
	display: block;
	background: transparent;
	margin-left:30px;
	width: 100% - 30px;
}

.searchTextInput{
	height: 30px;
	padding: 10px 30px;
	width: 100%;
}

input::-webkit-input-placeholder {
color: skyblue !important;
}

#foundation{
	margin-top: -4px;
	align-items:center;
	display: inline-block;
	height:100%;
	width:100%;

}

#animeMainField{
	display: inline-block;
	margin-top:10px;
	float: center;
	background: transparent;
	height: 960px;
	width: 80%;
}

.animeBlock{
	display: inline-block;
	background: transparent;
	background-size: cover;
	height: 32%;
	width: 23%;
	margin-left: 1%;
	margin-bottom: 1%;
	text-align: center;
	vertical-align: top;
	color: transparent;
	font-size: 14pt;
	font-family: Impact, Arial, Helvetica, sans-serif;
	user-select: none;
}

.testtext{
	text-align: left;
}

.animeBlock:hover{
	box-shadow:0 0 0 128px rgba(0, 0, 0, 0.63) inset;
	color: white;
}

.animeImage{
	display: inline-block;
	background: transparent;
	background-size: cover;
	height: 32%;
	width: 20%;
	margin-left: 1%;
	margin-bottom: 1%;
	text-align: center;
	vertical-align: top;
	user-select: none;
}

.Back{
	display: inline-block;
	background: linear-gradient(to top, #a9c1fc 20%, transparent 50%, #bbcdfa 80%);
	background-size: cover;
	height: 100%;
	width: 3%;
	margin-left: 1%;
	margin-bottom: 1%;
	text-align: center;
	border-radius: 15px;
	box-shadow:0 0 0 3px rgba(0, 100, 100, 0.2);
	vertical-align: top;
	transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);  /* плавный переход м/у состояниями */
	cursor: pointer;
	float:left;
}

.Back:hover{
	box-shadow:0 0 0 5px rgba(61, 136, 227, 0.6);
    transition-delay: .1s;/*Врем	я до начала или исчезновения анимации*/
	
}

.BackIcon{
	display: inline-block;
	height: 30px;
	width: 30px;
	background-image: url(../img/backToBack.png);
	background-size: cover;
	margin-top: 480px;
}

.Discription{
	display: inline-block;
	margin-left: 2%;
	width: 70%;
	height: 310px;
	background: transparent;
	vertical-align: top;
}

.Video{
	position: relative;
	height: 650px;
	width: 50%;
	vertical-align: left;
	margin-left: 22%;
	z-index: 500;
}
#scrollContainer{
	display: inline-block;
	background: transparent;
	margin-left: 20%;
	height: 50px;
	width: 30%;
	min-width:250px;
}

.pageScroll{
	display: inline-block;
	background: rgba(0,0,0,0.5);
	height: 35px;
	width: 40px;
	cursor: pointer;
}

#searchContainer{
	display: inline-block;
	vertical-align: top;
	margin-top:10px;
	box-shadow: inset 0 0 5px 7px rgba(0,100,255,0.9);
	width: 100%;
	height: 7*80px + 60px;
	background: rgba(0 ,0, 255,0.1);
}

#searchingTextField{
	display: inline-block;
	width: 100%;
	height: 30px;
	background: rgba(0,0,200,0.2);
}

.FieldSearchRight{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 60px;
	background: transparent;
}

#buttonSearch{
	width: 90%;
	margin-left:5%;
	margin-bottom:5%;
	height: 30px;
	cursor: pointer;
}

/*slider*/
.scrollbar { width: 100%; height: 10px; }
.scrollbar .handle {
	width: 100px; /* overriden if dynamicHandle: 1 */
	height: 100%;
	background: #222;
}

#buttonSearch:hover{
	box-shadow:0 0 1px 1px rgba(100,100,255,0.9);
}

/* Активная ссылка на странице */
.active-button {
    background-color:   #808080;
    font: 17px Tahoma, sans-serif;
    color:  #ffffff;
}
